@model bUtility.Sts.MvcServer.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h2>account page</h2>
    <div>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { autocomplete = "off", @class = "loginForm", name = "loginForm" }))
        {
            <label>User Name</label>
            <div class="input" style="width:250px;">@Html.TextBoxFor(m => m.UserName, new { placeholder = "UserName" })</div>
            @Html.ValidationMessageFor(m => m.UserName, String.Empty, new { @class = "validation-error" })

            <label>Password</label>
            <div class="input" style="width:250px;">@Html.TextBoxFor(m => m.Password, new { placeholder = "Password" })</div>
            @Html.ValidationMessageFor(m => m.Password, String.Empty, new { @class = "validation-error" })

            <input type="submit" class="btn" value="Login" id="cmdLogin" />

            @Html.HiddenFor(m => m.Id)
        }

    
    </div>
</body>
</html>
